<div class="sidebar">
  <div class="container sidebar-sticky">
    <!-- TODO выровнять по центру -->
    <div class="sidebar-about">
      <h1>
        <a href="{{ "/" | relative_url }}">
          {{ site.title | escape }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <!-- TODO вернуть автогенерацию -->
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ "/blog" | relative_url }}">Блог</a>
      <a class="sidebar-nav-item" href="{{ "/projects" | relative_url }}">Проекты</a>
      <a class="sidebar-nav-item" href="{{ "/about" | relative_url }}">Об авторе</a>
      <a class="sidebar-nav-item" href="{{ "/contacts" | relative_url }}">Контакты</a>
    </nav>

  </div>
</div>
